<section id="about">
	<div class="content-section-b">
	    <div class="container">
	        <div class="row">
	            <h2 class="category-heading alt-font">About Test</h2>
	            <hr class="section-heading-spacer">
	            <div class="clearfix"></div>
			<div class="col-md-12 headline wow bounceInDown animated" style="visibility: visible; animation-name: bounceInDown;">
				<h2>Lucas Waldburger</h2>
				<p>Senior Undergraduate at UC Berkeley Student.</p>
			</div>

			<div class="col-md-3 col-sm-6 hidden-xs wow bounceInLeft" style="visibility: hidden; animation-name: none;">
				<img class="avatar" src="./img/nature.jpg" alt="">
			</div>

			<div class="col-md-6 col-sm-12 wow bounceInRight" style="visibility: hidden; animation-name: none;">
				<h3>Professional Profile</h3>
				<p></p>
			</div>
	        </div>
	    </div>
	</div>
</section>
