<section id="about">
	<div class="content-section-b">
	    <div class="container">
	        <div class="row">
	            <h2 class="category-heading alt-font">About</h2>
	            <hr class="section-heading-spacer">
	            <div class="clearfix"></div>
						<div class="col-md-3 col-sm-12 hidden-xs wow bounceInLeft" style="visibility: hidden; animation-name: none;">
							<h3>My Life Stats</h3>
						</div>

						<div class="col-md-3 col-sm-4 wow bounceInDown" style="visibility: hidden; animation-name: none;">
							<div class="stat">
								<div class="stat-icon">
									<h2><i class="fa fa-coffee hidden-xs"></i><span class="timer" data-to="3492"></span></h2>
								</div>
								<h3>Cups of Tea</h3>
							</div>
						</div>

						<div class="col-md-3 col-sm-4 wow bounceInUp" style="visibility: hidden; animation-name: none;">
							<div class="stat">
								<div class="stat-icon">
									<h2><i class="fa fa-code hidden-xs"></i><span class="timer" data-to="15737"></span>+</h2>
								</div>
								<h3>Lines of code</h3>
							</div>
						</div>

						<div class="col-md-3 col-sm-4 wow bounceInRight" style="visibility: hidden; animation-name: none;">
							<div class="stat">
								<div class="stat-icon">
									<h2><i class="fa fa-child hidden-xs"></i><span class="timer" data-to="230"></span>+</h2>
								</div>
								<h3>Delighted Students</h3>
							</div>
						</div>			
			
			
			
	        </div>
	    </div>
	</div>
</section> 
