<!-- Footer -->
<footer>
    <div class="container alt-font">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a class="page-scroll" href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#experience">Experience</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#research">Research</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                </ul>
                <br>
            </div>
        </div>
        <div align="center" class="row">
            <p class="copyright text-muted small">Copyright &copy; {{ site.title }} 2018. All Rights Reserved.</p>
            <p class="copyright text-muted small">Last updated January 2018.</p>
        </div>
    </div>
</footer>
